$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$margin-horizontal: 400px;
$margin-vertical: 80px;

body {
  background-color: $background-color;
  color: $font-color;
  margin: $margin-vertical $margin-horizontal;
  text-align: center;
}

.box {
  border: 2px solid $white;
  height: 160px;
  vertical-align: center;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.modal-content {
  color: $black;
  font-size: 14px;
}

.modal-title {
  font-size: 30px;
}

.turn {
  font-size: 20px;
}

.wrapper {
  align-items: stretch;
  display: flex;
}

nav > .sidebar {
  max-width: 250px;
  min-width: 250px;
}
//
// #sidebar.active {
//   margin-left: -250px;
// }
